In [1]:
import datetime
import pandas as pd
import yahoo_fin.stock_info as si
from yahoofinancials import YahooFinancials

In [2]:
aapl_earnings_hist = si.get_earnings_history("AAPL")
pd.DataFrame.from_dict(aapl_earnings_hist)

df = pd.DataFrame.from_dict(aapl_earnings_hist)

df

,ticker,companyshortname,startdatetime,startdatetimetype,epsestimate,epsactual,epssurprisepct,timeZoneShortName,gmtOffsetMilliSeconds,quoteType
0,AAPL,Apple Inc,2023-01-25T10:59:00.000Z,TNS,NaN,NaN,NaN,EST,-18000000,EQUITY
1,AAPL,Apple Inc,2022-10-26T20:00:00.000Z,AMC,NaN,NaN,NaN,EDT,-14400000,EQUITY
2,AAPL,Apple Inc,2022-07-28T20:00:00.000Z,AMC,1.16,NaN,NaN,EDT,-14400000,EQUITY
3,AAPL,Apple Inc.,2022-04-28T16:30:00.000Z,TAS,1.43,1.52,6.44,EDT,-14400000,EQUITY
4,AAPL,Apple Inc.,2022-01-27T16:30:00.000Z,TAS,1.89,2.10,11.17,EST,-18000000,EQUITY
...,...,...,...,...,...,...,...,...,...,...
95,AAPL,Apple Inc.,1998-04-15T04:00:00.000Z,TAS,0.01,0.01,156.52,EDT,-14400000,EQUITY
96,AAPL,Apple Inc.,1998-01-14T05:00:00.000Z,TAS,0.01,0.01,22.30,EST,-18000000,EQUITY
97,AAPL,Apple Inc.,1997-10-15T04:00:00.000Z,TAS,0.00,0.00,-50.44,EDT,-14400000,EQUITY
98,AAPL,Apple Inc.,1997-07-16T04:00:00.000Z,TAS,-0.02,-0.02,26.79,EDT,-14400000,EQUITY
99,AAPL,Apple Inc.,1997-04-16T04:00:00.000Z,TAS,-0.04,-0.05,-18.29,EDT,-14400000,EQUITY

In [145]:
df.to_excel('AAPL_EPS.xlsx')